body {
    padding: 0%;
    margin: 0%;
}

/* Ensure the right side is scrollable */
/* Ensure the right side is scrollable */
#left-side {
    background-color: #FFC800;
    color: #000000;
    border-left: solid 50px black;
    padding: 50px;
    border-right: solid 2px black;

}


/* Ensure the right side is scrollable */
/* Ensure the right side is scrollable */
.right-side {
    background-color: #ffffff;
    /* Adjust to avoid navbar overlap */
    overflow-y: auto;
    /* border-left: solid 5px black; */
}



.lefte {
    margin-top: 20%;
    margin-bottom: 300px;
    letter-spacing: 2px;
    color: #212121;
    text-align: justify;
    font-family: DotGothic16;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-bottom: solid;
}

@font-face {
    font-family: Cheltm;
    src: url(Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Gnu;
    src: url(Fonts/gnuolane\ rg.otf);
}

@font-face {
    font-family: vcr;
    src: url(Fonts/VCR.ttf);
}

@font-face {
    font-family: ass;
    src: url(Fonts/Astral\ Ink.ttf);
}

@font-face {
    font-family: west;
    src: url(Fonts/Durango\ Western\ Eroded\ Demo.otf);
}

@font-face {
    font-family: onyx;
    src: url(Fonts/stereofidelic.otf);
}

@font-face {
    font-family: vtk;
    src: url(Fonts/VTKS\ CHOICE.ttf);
}

@font-face {
    font-family: brwsr;
    src: url(Fonts/BrowessSovar-GOWAO.otf);
}

@font-face {
    font-family: fallsend;
    src: url(Fonts/fallsend.ttf);
}

@font-face {
    font-family: condense;
    src: url(Fonts/gloucester-mt-extra-condensed.ttf);
}

h1 {
    color: #000;
    font-family: DotGothic16;
    font-weight: 800;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 89%;
    letter-spacing: 3px;
    /* 64px */
}

h2 {
    color: rgb(45, 45, 45);
    font-family: DotGothic16;
    font-weight: 800;
    font-size: 80px;

    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;

    padding-bottom: 20px;
    padding-left: 30px;
    background-color: #e6e6e6;
}

p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 36px */
    letter-spacing: 0px;
    text-align: justify;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    /* font-family: "Cascadia Code"; */
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 2px;

}

a:link,
a:visited,
a:active {
    color: rgb(0, 0, 0);
    border-bottom: none;
    text-decoration: none;
    transition: font-weight 0.5s, letter-spacing 0.8s;
}

.uk:hover,
a:hover {
    letter-spacing: -1px;
    transition: 0.6s;
    /* color: rgb(146, 146, 146); */
}


.s-t:link,
.s-t:visited,
.s-t:active,
.w-t,
.d-t,
.a-t,
.s-t {
    color: black;
    border-bottom: none;
    text-decoration: none;
    transition: font-weight 0.5s, letter-spacing 0.8s;
}

.uk:hover,
.w-t:hover,
.d-t:hover,
.a-t:hover,
.s-t:hover {
    letter-spacing: -1px;
    transition: 0.5s;
    color: rgb(146, 146, 146);
}


.Back {
    background-color: fill #ffffff00;
    background-blend-mode: difference;
    top: 10px;
    left: 10px;
    padding: 3px 15px;
    cursor: pointer;
    z-index: 999;
    font-family: DotGothic16;
    border: solid 2px;
    border-radius: 90px;
    font-size: 20px;
}

.custom-container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    height: 0px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 7rem;
    position: fixed;
    /* Optional: if you want it to stay fixed at the top */
    top: 0;
    z-index: 999;
}

.blurtop {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;

    background: rgba(225, 225, 225, 0.05);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(3px);
}

.navtext {
    font-family: DotGothic16;
    text-align: center;
    /* mix-blend-mode: difference; */
    /* Invert color based on background */
    font-size: 20px;
    letter-spacing: 3px;
}


.image-strip img {
    position: fixed;
    top: 0%;
    height: 3px;
    width: 100%;
}

#uxarti {
    margin-top: 40px;
    margin-bottom: 100px;
}

#Perarti {
    margin-top: 10%;
}