@font-face {
    font-family: Cheltm;
    src: url(Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Gnu;
    src: url(Fonts/gnuolane\ rg.otf);
}

@font-face {
    font-family: vcr;
    src: url(Fonts/VCR.ttf);
}

@font-face {
    font-family: ass;
    src: url(Fonts/Astral\ Ink.ttf);
}

@font-face {
    font-family: west;
    src: url(Fonts/Durango\ Western\ Eroded\ Demo.otf);
}

@font-face {
    font-family: onyx;
    src: url(Fonts/stereofidelic.otf);
}

@font-face {
    font-family: vtk;
    src: url(Fonts/VTKS\ CHOICE.ttf);
}

@font-face {
    font-family: brwsr;
    src: url(Fonts/BrowessSovar-GOWAO.otf);
}

@font-face {
    font-family: fallsend;
    src: url(Fonts/fallsend.ttf);
}

@font-face {
    font-family: condense;
    src: url(Fonts/gloucester-mt-extra-condensed.ttf);
}


model-viewer {
    background-color: none;
    overflow-x: hidden;
    --poster-color: #ffffff;
    width: 70%;
    height: 80%;
    margin: 0 auto;


    border-radius: 10px;
    margin-top: 3%;

    position: absolute;
    display: flex;
    align-items: center;
}

.threee {
    height: 100vh;
    /* border: solid 2px white; */
}

.pixborder img {
    opacity: 30%;
    height: 70px;

}

.lefpix {
    position: fixed;
    transform: rotate(-90deg);
}

.ritpix {
    position: fixed;
    right: 0%;
}

.ritdownpix {
    position: fixed;
    right: 0%;
    bottom: 0%;
    transform: rotate(90deg);
}

.lefdownpix {
    position: fixed;
    left: 0%;
    bottom: 0%;
    transform: rotate(180deg);
}

.threetit {
    font-family: "Archivo";
    font-size: 110px;
    line-height: 90%;
    letter-spacing: -0.08em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: justify;
    display: flex;
    color: rgb(0, 0, 0);
    z-index: 100;
    width: 90%;
    margin: 90px;
    background-color: white;
    overflow: hidden;
}

.Back {
    position: fixed;
    background-color: white;

    top: 20px;
    left: 20px;
    padding: 4px 10px;
    cursor: pointer;
    z-index: 999;
    font-family: Archivo;
    font-weight: 800;
    border: solid 2px;
    border-radius: 90px;
}

.annotation-wrapper.hide ::slotted(*) {
    opacity: var(--min-hotspot-opacity, 0);
}


button {
    background-color: transparent;
    border: none;
}

.HotspotAnnotation {
    color: #332222;
    font-family: DotGothic16;
    background-color: antiquewhite;
    border-radius: 30px;
    font-size: 20px;
    padding: 3px 20px 3px 20px;
    transition: padding 0.80s, font-size 0.80s, letter-spacing 0.2s, border 0.8s;
}

.HotspotAnnotation:hover {
    color: black;
    background-color: white;
    border-radius: 30px;

    font-size: 30px;
    padding: 10px 40px 10px 40px;
    transition: 0.5s;
    border: solid #332222 5px;
    border-radius: 50px;
}

.mood-changeable {
    position: fixed;
    background-color: #ffffff;
    bottom: 20px;
    right: 20px;
    padding: 3px 10px;
    cursor: pointer;
    z-index: 999;
    font-family: Archivo;
    font-weight: 800;
    border: solid 2px;
    border-radius: 90px;
    /* Ensure it's on top */
}

a {
    color: black;
    font-size: 16px;
}


@media (max-width: 480px) {
    .threetit {
        font-size: 50px;
        margin: 20px;
    }

    model-viewer {
        width: 90%;
        height: 80%;
        margin: 0 auto;
        border: dotted 6px rgb(150, 178, 223);
        border-radius: 18px;
        margin-top: 15%;
    }

    .pixborder img {
        opacity: 60%;
        height: 40px;
    }
}