a:link,
a:visited,
a:active {
    color: rgb(0, 0, 0);
    border-bottom: none;
    text-decoration: none;
    transition: font-weight 0.5s, letter-spacing 0.8s;
}

a:hover {
    font-weight: 600;
    letter-spacing: 2px;
    transition: 1s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #EEEEEE;
    color: rgb(35, 35, 35);
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;*/
    margin: 0;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

.custom-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.navbar {
    padding: 10px;
}

.navtext {
    font-family: Special Elite;
    text-align: center;
    color: #000;
    font-size: 16px;
}

#logo {
    font-size: 180px;
    font-weight: 800;
    margin-top: 15%;
    overflow: hidden;
    /* background-color: rgb(227, 143, 40); */
}