.custom-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}


/* dog */
/* dog */
/* dog */
/* dog */
.topnav {
    background-color: black;
    padding-top: 0.6rem;

    height: 50px;
    top: 0;
    left: 0;
    overflow: hidden;
}

.nextnav {
    background-color: #fef8ee;
    height: 260px;
    padding-top: 80px;
    z-index: -10;
}

.navsubtex {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 16px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    width: 231.46px;
}

.navheadtex {
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 14px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.nav-link {
    font-family: "Archivo-ExtraBold", sans-serif;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 0rem;
    font-size: 15px;
    font-weight: 300;
    color: #fff;

    display: inline-flex;
}


.logowittext {
    flex-direction: column;
}

.btmnav {
    background: #fef8ee;
    padding: 36px 88px 36px 88px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 271.38px;
    position: absolute;
    left: 0px;
    top: 77.91px;
}

.nav-info {
    display: flex;
    flex-direction: row;
    gap: 65.98px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.logo-and-name {
    display: flex;
    flex-direction: row;
    gap: 9.75px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.vector {
    flex-shrink: 0;
    height: 53.46px;
    position: relative;
    overflow: visible;
}

.raghav-prasanna {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
}

.moto {
    display: flex;
    flex-direction: column;
    gap: 11.25px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.moto2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.preference input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #fff1da;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.preference input[type="checkbox"]:checked {
    background-color: #ffe100;
    border-color: #ffffff;
}

.preference input[type="checkbox"]:checked::before {
    content: '✓';
    color: #fff1da;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.3s;
}

.simple-work-on-the-users-experience {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.in-detail-what-do-you-do {
    display: flex;
    flex-direction: column;
    gap: 11.25px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.in-detail-what-do-you-do2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.product-design-ux-design-branding-consulting {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
}

.part-time-works {
    display: flex;
    flex-direction: column;
    gap: 11.25px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.part-time-works2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

._3-d-artist-game-designer-jnr-unity-developer-artwork-and-3-d-printing {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.working-for-how-long {
    display: flex;
    flex-direction: column;
    gap: 11.25px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 186.71px;
    position: relative;
}

.working-for-how-long2 {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.ive-been-in-the-industry-for-4-5-years {
    color: #000000;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}

.frame-7 {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
    align-items: center;
    justify-content: space-between;
    width: 1238.79px;
    position: absolute;
    left: 151.98px;
    top: 1025.57px;
}

.say-helhello-raghavprasanna-2000-gmail-com {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
}

.say-helhello-raghavprasanna-2000-gmail-com-span {
    color: #fef8ee;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
}

.say-helhello-raghavprasanna-2000-gmail-com-span2 {
    color: #fef8ee;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-decoration: underline;
}

.say-helhello-https-www-instagram-com-dedrox-hl-en {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    position: relative;
}

.say-helhello-https-www-instagram-com-dedrox-hl-en-span {
    color: #fef8ee;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
}

.say-helhello-https-www-instagram-com-dedrox-hl-en-span2 {
    color: #fef8ee;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-decoration: underline;
}


.articles {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.projects {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

._3-d-game-design {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.about {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 17.995773315429688px;
    line-height: 101.5%;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.group-23 {
    position: absolute;
    inset: 0;
}

.rectangle-385 {
    background: #f8ecd5;
    width: 6.94px;
    height: 152.26px;
    position: absolute;
    left: 13.88px;
    top: 806.06px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
}

.rectangle-389 {
    background: #fef8ee;
    width: 6.94px;
    height: 152.26px;
    position: absolute;
    left: 6.94px;
    top: 806.06px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
}

.rectangle-396 {
    background: #1e49a5;
    width: 13.88px;
    height: 152.26px;
    position: absolute;
    left: 13.88px;
    top: 653.8px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
}

.rectangle-397 {
    background: #ffc800;
    width: 13.88px;
    height: 152.26px;
    position: absolute;
    left: 13.88px;
    top: 501.55px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
}

.rectangle-388 {
    background: #030303;
    width: 13.88px;
    height: 152.26px;
    position: absolute;
    left: 13.88px;
    top: 349.29px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
}

.ylo {
    background: #ffc800;
    padding: 14px 20px 14px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1100px;
    height: 650px;
    left: 320px;
    top: 211px;
    position: relative;
    right: auto;
}

.ylotext {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1060.2px;
    position: relative;
}

.i-m-up-for {
    color: #000000;
    text-align: right;
    font-family: "Archivo-ExtraBold", sans-serif;
    font-size: 92.08619689941406px;
    line-height: 101.5%;
    letter-spacing: -0.08em;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    height: 93px;
}

.strategic-thinking-purposeful {
    color: #000000;
    text-align: left;
    font-family: "Archivo-ExtraBold", sans-serif;
    font-size: 92.08619689941406px;
    line-height: 101.5%;
    letter-spacing: -0.08em;
    font-weight: 800;
    text-transform: uppercase;
    position: absolute;
    left: 12.32px;
    top: 0px;
}

.quotesec {
    height: 1700px;
    padding-top: 700px;
    background: #1e49a5;
    z-index: 10;
}

.qutex {
    color: #fef8ee;
    text-align: left;
    font-family: "Archivo-Bold", sans-serif;
    font-size: 20px;
    line-height: 101.5%;
    font-weight: 700;
    position: relative;
    padding-top: 8px;
    padding-bottom: 50px;
}

.quobar {
    background-color: #fef8ee;
    height: 2px;
    padding-top: 5px;
    border-right: solid;
    border-color: #1e49a5;
    border-inline-end-width: 50px;
}

.qusubtex {
    color: #fef8ee;
    padding-top: 30px;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 18px;
    line-height: 101.5%;
    font-weight: 400;
}

.fillerafterylo {
    width: 1100px;
    height: 650px;
    position: absolute;
    background-color: #1e49a5
}

.mark,
mark {
    background-color: #ffc800;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 0%;
    padding-bottom: 0%;
    cursor: pointer;
}


@media (max-width: 1302px) {
    .custom-container {
        max-width: 960px;
    }

    .ylo {
        width: 912px;
        height: 590px;
        left: 320px;
        top: 211px;
    }

    .ylotext {
        width: 870px;
    }
}

@media (max-width: 1200px) {
    .custom-container {
        max-width: 960px;
    }

    .ylo {
        width: 776px;
        height: 590px;
        left: 225px;
        top: 211px;
    }

    .ylotext {
        width: 697px;
    }
}

@media (max-width: 768px) {
    .custom-container {
        max-width: 720px;
    }

    .ylo {
        width: 544px;
        height: 331px;
        left: 200px;
        top: 211px;
    }

    .ylotext {
        width: 501px;
    }

    .i-m-up-for {
        font-size: 40px;
        line-height: 101.5%;
        font-weight: 800;
    }

    .strategic-thinking-purposeful {
        font-size: 40px;
        line-height: 101.5%;
        font-weight: 800;
    }

    .navsubtex {
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .navheadtex {
        color: rgba(0, 0, 0, 0.5);
        text-align: right;
        font-family: "Archivo-Regular", sans-serif;
        font-size: 13px;
        line-height: 90%;
    }

    .quotesec {
        padding-top: 130px;
    }





    @media (max-width: 480px) {
        .custom-container {
            max-width: 320px;
        }

        .ylo {
            width: 294px;
            height: 331px;
            left: 20px;
            top: 211px;
        }

        .ylotext {
            width: 250px;
        }

        .i-m-up-for {
            font-size: 30px;
            line-height: 101%;
            font-weight: 800;
        }

        .strategic-thinking-purposeful {
            font-size: 30px;
            line-height: 101%;
            font-weight: 800;
        }

        .nav-link {
            font-size: 9px;
        }

        .navsubtex {
            font-size: 9px;
        }

        .navheadtex {
            color: #1e49a5;

        }
    }
}