@font-face {
    font-family: Cheltm;
    src: url(Fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Gnu;
    src: url(Fonts/gnuolane\ rg.otf);
}

@font-face {
    font-family: vcr;
    src: url(Fonts/VCR.ttf);
}

@font-face {
    font-family: ass;
    src: url(Fonts/Astral\ Ink.ttf);
}

@font-face {
    font-family: west;
    src: url(Fonts/Durango\ Western\ Eroded\ Demo.otf);
}

@font-face {
    font-family: onyx;
    src: url(Fonts/stereofidelic.otf);
}

@font-face {
    font-family: vtk;
    src: url(Fonts/VTKS\ CHOICE.ttf);
}

@font-face {
    font-family: brwsr;
    src: url(Fonts/BrowessSovar-GOWAO.otf);
}

@font-face {
    font-family: fallsend;
    src: url(Fonts/fallsend.ttf);
}

@font-face {
    font-family: condense;
    src: url(Fonts/gloucester-mt-extra-condensed.ttf);
}

@font-face {
    font-family: zora;
    src: url(Fonts/ZORA.otf);
}


.material-symbols-outlined {
    padding-left: 5px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

a:link,
a:visited,
a:active {}

a:hover {}


.s-t:link,
.s-t:visited,
.s-t:active,
.w-t:link,
.w-t:visited,
.w-t:active,
.d-t:link,
:visited,
:active,
.d-t:link,
:visited,
:active,
.d-t:link,
:visited,
:active,
.a-t:link,
:visited,
:active,
.a-t:link,
:visited,
:active,
.a-t:link,
:visited,
:active {
    color: #000000;
    border-bottom: none;
    text-decoration: none;
    transition: font-weight 0.5s, letter-spacing 0.8s;

    color: #000000;
    border-bottom: none;
    text-decoration: none;
    transition: font-weight 0.5s, letter-spacing 0.8s, border-bottom 0.4s;
    border-bottom: solid #00000000 0px;
    transform: translateY(0px);
}

.uk:hover,
.w-t:hover,
.d-t:hover,
.a-t:hover,
.s-t:hover {
    letter-spacing: -1px;
    transition: 0.1s;
    color: #1f1f1f;
    /* border-bottom: solid #1f1f1f 10px; */
    transform: translateX(-50px);


    letter-spacing: -1px;
    transition: 0.5s;
    /* color: rgb(146, 146, 146); */
}

.summary {
    position: fixed;
    background-color: #ffffff00;
    bottom: 20px;
    right: 20px;
    padding: 3px 10px;
    cursor: pointer;
    z-index: 990;
    font-family: vcr;
    border: solid 2px;
    border-radius: 90px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}



body {
    background-color: #D9D9D9;
    text-rendering: optimizeSpeed;
    margin: 0%;
    padding: 0%;
}

.sticker {
    position: absolute;
    cursor: grab;
    width: auto;
    height: auto;
    user-select: none;
    transition: transform 0.1s ease, filter 0.9s ease;
    /* Horizontal offset: 10px, Vertical offset: 5px */

}

.draggable {
    touch-action: none;
    /* Prevent scrolling while touching */
    cursor: grab;
}

.draggable {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: grab;
    /* Optional: changes cursor to grab icon */
}


.sticker img {
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    /* Prevent image selection */
}

.sticker {
    overflow: hidden;
    scrollbar-color: red;
}

.sticker:hover {
    transform: translateY(-1px) rotate(0.1deg);
}

.scan {
    position: fixed;
    /* Stay fixed in place even while scrolling */
    top: 0;
    left: 0;
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    background-size: cover;
    /* Cover the entire area */
    background-position: center;
    z-index: -100;
    /* Place behind all other content */
    opacity: 10%;
    mix-blend-mode: multiply;
    pointer-events: none;
}


::-webkit-scrollbar {
    width: 5px;
    height: 1em;
}

::-webkit-scrollbar-track {
    /* background: #000000; */
    background-image: url("images/stripend.png");
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px 0px 0px 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
    /* border-radius: 100vw; */
    margin-block: 0.5em;
}

p {
    color: #494949;
    font-size: 18px;
    font-weight: 200;
    margin: 0%;
    text-align: left;
    font-family: onest;
    /* border-bottom: solid 1px #494949; */
}

.content-section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Styling for the font preview section */
/* .font-preview-section {
    padding: 100px;
    background-color: #f8f9fa;
    border-radius: 30px;
} */

.font-box {
    background-color: none;
    vertical-align: top;
}

.font-box input {
    width: 100%;
    height: 20vh;
    text-align: left;
    /* Align text to the top */
    display: block;
    line-height: normal;
    /* Ensure normal line height for text */
}

.font-box textarea {
    width: 100%;
    height: 80vh;
    /* Set the height to 80% of the viewport */
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    /* Align text to the left */
    display: block;
    line-height: normal;
    /* Ensure normal line height for text */
    resize: none;
    /* Disable resizing of textarea */
    overflow-y: auto;
    /* Add scrollbar if needed */
}


/* Styling the download button */
.download-button {
    margin-top: 20px;
}


.scan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
    pointer-events: none;
}

#portfolio {
    display: block;
    position: relative;
    overflow: hidden;
    /* max-width: 60%; */
    margin: auto auto 1rem;
    padding: 7% 10% 2% 10%;
}

#portfolio a {
    color: #000000;
    border-bottom: none;
    text-decoration: none;

    letter-spacing: 0.3px;
    font-size: 20px;
    font-weight: 400;

    transition: letter-spacing 0.8s;
    font-family: DotGothic16;
}

#portfolio a :hover {
    color: #5e5e5e;
    transition: 0.5s;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 5%;

    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.2s;
    transform: translateY(0);
    /* Initial transform for the hover effect */
}

.portfolio-item img:hover {
    filter: grayscale(0%);
    transform: translateY(-2px);
}



/* #sticker1 img {
    left: 150px;
    top: 100px;
}

#sticker2 img {
    left: 800px;
    top: 120px;
}

#sticker3 img {
    left: 10px;
    top: 1720px;
}

#sticker4 img {
    left: 900px;
    top: 130px;
}

#sticker5 img {
    left: 600px;
    top: 140px;
}

#sticker6 img {
    left: 80px;
    top: 190px;
}

#sticker7 img {
    left: 10px;
    top: 120px;
}

#sticker8 img {
    right: 800px;
    top: 120px;
}

#sticker9 img {
    left: 200px;
    top: 120px;
}

#sticker10 img {
    left: 100px;
    top: 120px;
}

#sticker11 img {
    left: 800px;
    top: 120px;
} */





.custom-container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    /* Optional: if you want it to stay fixed at the top */
    top: 0;
    z-index: 999;
    /* background-color: #ead625; */
}

.navtext {
    font-family: vcr;
    /* font-weight: 600; */
    /* color: white; */
    text-align: center;
    /* mix-blend-mode: difference; */
    /* Invert color based on background */
    font-size: 20px;
    letter-spacing: 2px;
}

.blurtop {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    user-select: none;

    background: rgba(225, 225, 225, 0.05);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(3px);
    z-index: 997;

}


.image-strip img {
    position: fixed;
    width: 100%;
    /* Ensures the image scales to fit the width of the page */
    height: 4px;
    /* Maintains the image's aspect ratio */
    display: block;
    /* Removes any extra space around the image */
}

#logo svg {
    width: 90%;
    height: 90vh;
    display: block;
    position: relative;
    pointer-events: none;
    z-index: -987;
}

.logosec {
    height: 109vh;
    padding-top: 20px;
    /* border-bottom: solid 10px black; */
}

.a-custom-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

#pagesecshort {
    height: 100vh;
    width: 100%;
    max-width: 1024px;

    font-family: Onest;
    font-size: 60px;
    line-height: 110%;

    padding: 10% 0% 0% 10%;
    font-weight: 500;
    color: #000000;

}

#pagesec1 {
    height: 100vh;
    width: 100%;

    padding: 6% 5% 5% 5%;
}


#pagesec2 {
    width: 100%;

    height: 100vh;
    padding-top: 30px;
    margin-bottom: 40px;
}

.redbox {
    height: 100vmin;
    width: 100%;
    background-size: cover;
    overflow: hidden;

    background-position: center center;
    background-image: url("images/dottedpattern.png");
    border-radius: 30px;
}

#pagesec3 {
    /* background-color: #ffffff; */
    height: 750px;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); */
}



.info {
    color: #000000;
    padding-top: 18%;
    text-align: justify;

    font-family: Onest;
    font-size: 30px;
    font-weight: 600;

    line-height: 100%;
    /* text-transform: uppercase; */
    position: relative;

}


.canva {
    padding: 50px;
    height: auto;
    width: 50%;
    transform: rotate(-3deg);
}

.consutex {
    font-family: gnu;
    color: #242424;
    font-size: 2rem;
    padding: 0.375em 1em;
    font-weight: 500;
    width: 800px;
    line-height: 40px;
}

.consubtn {
    font-family: gnu;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 300px;
    font-size: 4rem;
    padding: 2rem 1rem;
    font-weight: 600;
    width: 70%;
    margin-bottom: 10%;
    text-shadow: 0 0.0625em 0 #fff;


    box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
        0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
        0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #c5c5c5;


    transition: 0.25s ease;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:active,
    &:hover {
        transform: translateY(0.225em);
        box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
            0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
            0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
        width: 71%;

        &:after {
            height: calc(100% + 0.225em);
            width: 60%;

        }
    }

    &:after {
        content: "";
        height: calc(100% + 0.375em);
        transition: height 0.25s ease;
        width: 60%;

    }
}





.Back {
    /* background-color: fill #ffffff00; */
    /* background-blend-mode: difference; */
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    cursor: pointer;
    z-index: 989;
    font-family: DotGothic16;
    /* border: solid 2px; */
    border-radius: 90px;
    font-size: 16px;
    letter-spacing: 1px;
}






@media (max-width: 1360px) {
    .custom-container {
        max-width: 960px;
    }
}



@media (max-width: 768px) {
    .custom-container {
        max-width: 720px;
    }

    .navtext {
        font-size: 11px;
    }

    .uk {
        margin-left: 75px;
    }

    #miniabt {
        font-size: 75px;
        margin-top: 20%;
        word-spacing: 8px;
        line-height: 70px;
        letter-spacing: -3px;
    }

}



@media (max-width: 480px) {
    .custom-container {
        max-width: 400px;
        padding: 0 10px;
    }

    .navtext {
        letter-spacing: normal;
    }


    #logo svg {
        width: 100%;
        height: 100vh;
        display: block;
        /* Ensures no unexpected extra space around the SVG */
    }

    .consutex {
        font-size: 1.4rem;
        padding: 0.375em 1em;
        font-weight: 500;
        width: 800px;
        line-height: 24px;
        text-align: justify;
    }

    .consubtn {
        font-size: 2rem;
    }

    .secndsec {
        font-size: 40px;
        text-align: justify;
        line-height: 35px;
        height: auto;
    }


}


.panel {
    background-color: #26272b;
    color: wheat;
}


@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}